header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 6%;
  margin: 40px 0;
  @media (max-width: $md) {
    padding: 15px;
    margin: 10px;
  }
}

header img {
  height: 68px;
  @media (max-width: $sm) {
    height: 46px;
  }
}

header nav {
  a {
    color: $primary-color;
    font-size: 24px;
    @media (max-width: $sm) {
      font-size: 15px;
    }
  }
  a.activePage {
    text-decoration: underline;
  }
  display: flex;
  gap: 57px;
  @media (max-width: $md) {
    gap: 10px;
  }
}
